*
{
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body
{
	margin: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.lancherContainer
{
	min-height: 560px;
	/*background: blue;*/
	overflow:auto;
}

.headerTitleIcon
{
	width: 30%;
    float: left;
    /*background: pink;*/
    /*padding: 10px 0px;*/
    text-align: center;
}

.headerTitleImage
{
	max-width: 300px;
	width: 100%;
}

.headerTitleContainer
{
	width: 80%;
    /*background: yellow;*/
    text-align: left;
    margin: 0px auto;
    margin-top: 0px ;
    padding: 25px 0px;
	overflow: hidden;
}

.headerTitle
{
    width: 70%;
    float: left;
    /*background: orange;*/
    text-align: left;
    padding: 120px 0px 120px 0px;
    word-wrap: break-word;
    font-size: 3em;
    font-family: 'Changa One', cursive;
}
.iconContainer
{
	/*background: green;*/
    margin: 0px auto;
    width: 300px;
    min-width: 300px;
    display: flex;
    justify-content: space-around;    
}

.iconSocial
{   
    /*background:red;*/
}

.iconImage
{
	width: 30px;
}

.contentContainer
{
	/*margin-top: 25px;*/
	width: 100%;
	overflow: auto;	
	/*background: blueviolet;*/
}

.contentArea
{
	width: 80%;
	margin: 15px auto;
	padding: 0px;
	/*background: cornflowerblue;*/
	text-align: left;
}

.footerBox
{
	width: 100%;
	padding: 15px 0px;
	text-align: center;
	overflow: auto;
    font-family: 'Martel Sans', sans-serif;
}

.aLink
{
	text-decoration: none;
	color: black;
	font-weight: bold;
        font-family: 'Changa One', cursive;
    
}

.contentArea li
{
	list-style-type: none;
	margin-bottom: 15px;
	font-size: 1.2em;
}

@media screen and (max-width: 500px){
.headerTitleIcon
{
	width: 100%;
}
.headerTitle 
{
    width: 100%;
    padding: 15px 0px;
    font-size: 2em;
    text-align: center;
}
.contentArea
{
	width: 80%;
}
}